# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\ZZZ_ UDEA2_DATOS\S12\PROYECTO INTEGRADOR 1\LAB 2\tourofheroesapi-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
